.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

applicationinsights-agent-*.jar
 *.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# macos
**/.DS_Store

src/test/functional/resources/documents/*
node_modules/
example.docx
document.docx
target

functional-output/
package-lock.json
yarn-error.log
*.log
yarn-error.log*
.yarn
.pnp.loader.mjs
.pnp.cjs

