java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devcpuRequests: 250m
  devmemoryRequests: 2Gi
  devcpuLimits: 1024m
  devmemoryLimits: 3Gi
  environment:
    ETHOS_REPL_DB_HOST: "{{ .Release.Name }}-postgresql"
    ETHOS_REPL_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    ETHOS_REPL_DB_USER_NAME: "{{ .Values.postgresql.auth.username}}"
    ETHOS_REPL_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    ETHOS_REPL_DB_CONN_OPTIONS: ""
  keyVaults:
    ethos-shared:
      resourceGroup: ethos
      secrets:
        - name: Ocp-Apim-Subscription-Key
          alias: ACAS_KEY
        - name: create-updates-queue-send-connection-string
          alias: CREATE_UPDATES_QUEUE_SEND_CONNECTION_STRING
        - name: tornado-access-key
          alias: TORNADO_ACCESS_KEY
        - name: ethos-repl-service-s2s-secret
          alias: ETHOS_REPL_SERVICE_S2S_SECRET
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: repl-docmosis-backend-POSTGRES-PASS
          alias: ETHOS_REPL_DB_PASSWORD
  postgresql:
    enabled: true
